<form [formGroup]="this.form">
  <mat-card>
    <mat-card-header class="mb-1">
      <mat-card-title>{{ getSpeciesDisplayText(this.form.controls.selectedPlantSpecies.value) }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="w-full">
        <input type="text"
               placeholder="Latitude"
               aria-label="Latitude"
               matInput
               [disabled]="true"
               [value]="this.form.controls.selectedPlantLocation.value.lat">
      </mat-form-field>
      <mat-form-field class="w-full">
        <input type="text"
               placeholder="Longitude"
               aria-label="Longitude"
               matInput
               [disabled]="true"
               [value]="this.form.controls.selectedPlantLocation.value.lng">
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Plant species</mat-label>
        <mat-select formControlName="selectedPlantSpecies" [compareWith]="isPlantSelected">
          @for (species of _species$$ | async; track species) {
            <mat-option [value]="species">{{ getSpeciesDisplayText(species) }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="button" (click)="onCloseClicked()">Close</button>
    </mat-card-actions>
  </mat-card>
</form>
