<app-map></app-map>

<eco-fab-speed-dial class="menu" (panstart)="onPan($event)">
  <eco-fab-speed-dial-trigger [spin]="true">
    <button mat-fab class="spin180">
      <mat-icon fontIcon="menu"></mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions>
    <button mat-mini-fab (click)="onAddClicked()">
      <mat-icon fontIcon="add"></mat-icon>
    </button>
    <button mat-mini-fab (click)="onShowPlantsClicked()">
      <mat-icon fontIcon="search"></mat-icon>
    </button>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
