@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

html, body {
  height: 100dvh;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-container {
  z-index: 90001;
}

.plant-bottom-sheet {
  .mat-bottom-sheet-container {
    padding: 0;
  }
}

.w-full {
  width: 100%;
}

.mb-1 {
  margin-bottom: 1rem;
}

.plant-marker-icon {
  font-size: 48px;

  &.purple {
    color: mat.get-color-from-palette(mat.$pink-palette, A200);
  }

  &.indigo {
    color: mat.get-color-from-palette(mat.$indigo-palette, 500);
  }
}


