html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-container {
  z-index: 90001;
}

.plant-bottom-sheet {
  .mat-bottom-sheet-container {
    padding: 0;
  }
}

.w-full {
  width: 100%;
}

.mb-1 {
  margin-bottom: 1rem;
}
