html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.add-plant-bottom-sheet {
  margin-bottom: .5rem !important;

  .mat-bottom-sheet-container {
    padding: 0;
  }
}

